*{
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    margin-top: 70px;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
}

li{
    list-style: none;
}

a{
    padding-right: 50px;
    color: white;
    text-decoration: none;
}

p{
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

.contacts{
    top: 0;
    right: 0;
    display: flex;
    position-anchor: right;
}

.AboutMeMainText{
    padding-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
    
}

.container{
    width: 1280px;
    margin: auto;
}

.navbar{
    width: 95%;
    margin: auto;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.navselected{
    color: #737373;
}

@media (max-width: 1280px){
    .container
    {
        width: 100%;
    }
}